.container-mid{
    padding-top:100px;
    text-align:center;
    padding-bottom:100px;
}

.explain-logo p {
    color: #BEC7C6;
}

.explain{
    margin-top:50px;
    text-align:cenetr;
    line-height: 4em;
    font-size: 16px;
}

.btn{
  display: block;
  border-radius: 100vh;
  margin: 0 auto;
  height: 60px;
  width: 200px;
  background-color: #F2C67F;
  border:none;
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding-top:18px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.btn:hover{
    color: white;
    opacity: 0.5;
}

.exp-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.exp-content{
    text-align:left;
}

h3{
    color: #BEC7C6;
}

@media screen and (max-width: 1200px){
    .exp-container{
        display:block;
        padding-left: 0;
        padding-right: 0;
    }

}