.container-mid{
    padding-top:100px;
    text-align:center;
    padding-bottom:100px;
}

.explain-logo p {
    color: #A9BABC;
}

.explain{
    margin-top:50px;
    text-align:cenetr;
    line-height: 4em;
    font-size: 16px;
}

.btn{
  display: block;
  border-radius: 100vh;
  margin: 0 auto;
  height: 60px;
  width: 200px;
  background-color: #F2C67F;
  border:none;
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding-top:18px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.btn:hover{
    color: white;
    opacity: 0.5;
}

.exp-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.exp-content{
    text-align:left;
}

h3{
    color: #A9BABC;
}

.responsive{
    display: none;
}

@media screen and (max-width: 960px){
    .exp-container{
        display:block;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 150px;
    }

    .explain-logo img,.exp-image img{
        width:300px;
    }

    .explain{
        line-height: 3em;
    }

    .exp-content{
        font-size: 14px;
    }

    .btn{
        padding-top:28px;
        height: 80px;
        width: 250px;
        font-size: 18px;
    }

    .responsive{
        display: block;
    }
}