.submitーbtn{
    display: block;
    border-radius: 100vh;
    margin: 0 auto;
    height: 60px;
    width: 200px;
    background-color: #F2C67F;
    border:none;
    color: white;
    font-size: 16px;
}
