/* todo、spot、publicの外枠 */
.todo,.spot,.public,.map_submit{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 34vw;
    min-width: 450px;
    margin: 0 auto;
}

/* todo、spotのform */
span input {
  display: block;
  border:1px #BEC7C6 solid;
  padding: 0.5em 0.5em;
  border-radius: 10px;
  color: #5C6060;
  height: 50px;
  margin: 0 auto;
}

/* todoのform 固有 */
#todo_content{
  width: 34vw;
  min-width: 450px;
}

/* spotのformとsearchを横並びに設定するためのクラス */
.spot_form{
  display: inline-flex;
}

/* spotのform 固有 */
#spot_name{
  width: 30vw;
  min-width: 395px;
}

/* spotフォームと検索ボタン間の改行 */
.responsive{
  display:none;
}

/* 検索ボタン */
.search{
    margin-left: 5px;
    width: 50px;
    height:50px;
    padding: 0.5em 0.1em;
    border:1px #BEC7C6 solid;
    border-radius: 10px;
}

/* 公開設定のチェックボックス */
.public{
  margin-bottom: -10px;
}

input[type="checkbox"] {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: 1px solid #BEC7C6;
  vertical-align: -5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-left: 8px;
}

input[type="checkbox"]:checked:before {
  position: absolute;
  top: 2px;
  left: 7px;
  transform: rotate(50deg);
  width: 8px;
  height: 14px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  content: '';
}

input[type="checkbox"]:checked{
  background-color: #A9BABC;
}
  
*:focus {
  outline: none;
}

input[type="checkbox"]:focus {
  outline: none;
}

/* 作成、編集ボタン */
.create{
    display: block;
    border-radius: 100vh;
    margin: 0 auto;
    height: 60px;
    width: 200px;
    background-color: #F2C67F;
    border:none;
    color: white;
    font-size: 16px;
}
  

/* レスポンシブ */
@media (max-width: 960px) {

  .todo,.spot,.public,.map_submit{
    width: 90vw;
    min-width: 300px;
}

  .todo_form,.spot_form{
    text-align: center;
}

/* todoのform 固有 */
#todo_content{
  width: 90vw;
  min-width: 300px;
}
/* spotのform 固有 */
#spot_name{
  width: 90vw;
  min-width: 300px;
}

/* spotのformとsearchを横並びに設定するためのクラス */
.spot_form{
  display: block;
}

span input {
  display: inline;
}

/* 検索ボタン */
.search{
  width: 200px;
}

/* 検索ボタン 枠 */
.search_margin{
  margin-top: 20px;
  text-align: center;
}

}