#map {
  height: 20vw;
  min-height: 400px;
  width: 30vw;
  min-width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}


/* レスポンシブ */
@media (max-width: 960px) {

/* spotのform 固有 */
#map{
  width: 85vw;
  min-width: 300px;
}

}