<% title t 'oauths.login.title' %>

<%= stylesheet_link_tag 'oauth/login', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container-mid">
    <div class="explain-logo">
        <%= image_tag 'spotodo_logo.png', width:"350px" %>
        <p>“今度行ったらやりたい”を記録する</p>
    </div>
    <%= link_to auth_at_provider_path(response_type: 'code', provider: :line), class:"btn" do image_tag 'btn_login_base.png' end %>
    <p>※loginで新規登録も完了します</p>
</div>
