@media screen and (max-width: 1200px){
  .col-lg-2 {display:none}
  .col-lg-1 {display:block}
 /* ハンバーガーのマーク */
 .nav_toggle {
   display: block;
   position: relative;
   width: 3rem;
   height: 3rem;
   margin-right: 10px;
   margin-top: 10px;
   z-index: 30;
 }
 .nav_toggle i {
   display: block;
   width: 100%;
   height: 2px;
   background-color: #5C6060;
   position: absolute;
   transition: transform 0.5s, opacity 0.5s;
 }
 .nav_toggle i:nth-child(1) {
   top: 0;
 }
 .nav_toggle i:nth-child(2) {
   top: 0;
   bottom: 0;
   margin: auto;
 }
 .nav_toggle i:nth-child(3) {
   bottom: 0;
 }
 
 /* クリックされた後のハンバーガーのマーク */
 .nav_toggle.show i:nth-child(1) {
   transform: translateY(15px) rotate(-45deg);
 }
 .nav_toggle.show i:nth-child(2) {
   opacity: 0;
 }
 .nav_toggle.show i:nth-child(3) {
   transform: translateY(-12px) rotate(45deg);
 }
 
 /* クリックで表示されるメニュー：クリックされる前 */
 .nav {
   display: flex;
   position: fixed;
   align-items: center;
   justify-content: center;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.5s, visibility 0.5s;
   background-color: #718B92;
   z-index: 20;
   font-size: 20px;
 }
 .nav_menu_li {
   margin-top: 30px;
 }
 .nav_menu_li a {
   color: #fff;
   text-decoration: none;
 }
 
 /* クリックで表示されるメニュー：クリックされた後 */
 .nav.show {
   opacity: 1;
   visibility: visible;
 }
 
 ul{
   list-style-type: none;
 }
  }