<% flash.each do |key,value| %>
    <p class = "alert alert-<%= key %>">
      <%= value %></br>
      <% if @spot.present? && @spot.errors.any? %>
        場所は入力後、必ず「検索」ボタンを押してください
      <% end %>
    </p>
  <% end %>

