
    <% if current_user %>
        <div class="logo">
            <div class="nav-item logo-item"><a href="#"><%= image_tag 'spotodo_logo.png', width: '50%', height: '50%'%></a></div>
        </div>
        <div class="top">
            <ul class="nav nav-pills nav-stacked ">
                <li class="nav-item"><a class="nav-link" href="/todos/new">Add Todo</a></li>
                <li class="nav-item"><a class="nav-link" href="/currentkications">今できるTodoは？</a></li>
                <li class="nav-item"><a class="nav-link" href="/todos">All</a></li>
            </ul>
        </div>

        <div class="bottom">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-item"><a class="nav-link" href="#">ユーザー設定</a></li>
                <li class="nav-item"><a class="nav-link" href="#">プライバシーポリシー</a></li>
                <li class="nav-item"><a class="nav-link" href="#">利用規約</a></li>
                <li class="nav-item"><a class="nav-link" href="#">問い合わせ</a></li>
            </ul>
         </div>

    <% else %>

        <div class="logo">
            <div class="nav-item logo-item"><a href="#"><%= image_tag 'spotodo_logo.png', width: '50%', height: '50%'%></a></div>
        </div>
        <div class="top"> 
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-item login"><a class="nav-link" href="/login"><span>ログイン</span></a></li>
            </ul>
        </div>
        <div class="bottom">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-item"><a class="nav-link" href="#">プライバシーポリシー</a></li>
                <li class="nav-item"><a class="nav-link" href="#">利用規約</a></li>
                <li class="nav-item"><a class="nav-link" href="#">問い合わせ</a></li>
            </ul>
        </div>
        
    <% end %>

<style>
    .logo{
        height: 15%;
        padding-top: 10%;
    }
    .top {
        height: 60%;
        text-align: center;
    }

    .top .nav-item{
        padding-top: 20px;
        padding-bottom :20px;
        font-size: 20px;
        letter-spacing : 0.1em;
    }

    .bottom{
        height: 25%;
        text-align: center;
    }
    .logo-item{
        text-align: center;
    }
    .nav-item a{
        color : #FFFFFF;
    }
    .nav-link:hover{
        border-radius: 100vh;
        color : #BEC7C6;
    }
    span{
        color : #BEC7C6;
    }
    .login{
        color : #BEC7C6;
        background-color: white;
        border-radius: 100vh;

    }

</style>
