<%= stylesheet_link_tag 'title', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="title">
  <h1><%= title t ('.title') %></h1>
</div>

<div class="container">
spoToodo（以下「当サービス」といいます）は、本サービスが取得した個人情報の取扱いに関し、個人情報の保護に関する法律、個人情報保護に関するガイドライン等の指針、その他個人情報保護に関する関係法令を遵守します。
<br><br>
<h4>１．取得する情報およびその取得方法、利用目的</h4>
当サービスが取得するユーザー情報は、取得方法に応じて以下のとおりとなります。
<br><br>

<h5>（１）ユーザーから直接取得する情報と取得方法</h5>
　当サービスは、当サービスが提供するインターネットサイト（以下「本サイト」といいます）の運営に必要な範囲で、本サイトの利用者（以下「ユーザー」といいます）から、個人情報保護法にいう「個人情報」を指すものとし、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日、住所、電話番号、連絡先その他の記述等により特定の個人を識別できる情報及び容貌、指紋、声紋にかかるデータ、及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人時期別情報）（以下「個人情報」といいます）を取得することがあります。
<br><br>

<h5>（２）情報の利用目的</h5>
　当サービスは、取得した個人情報を以下に定める目的のために使用します。
<br>
　・サービスの提供
<br>
　・ユーザーの本人確認
<br><br>

<h4>2. 個人情報の管理</h4>

当サービスは、ユーザーから取得した個人情報の管理について、以下を徹底します。
<br><br>

<h5>（1）情報の正確性の確保</h5>
　取得した個人情報については、常に正確かつ最新の情報となるよう努めます。
<br><br>

<h5>（2）安全管理措置</h5>
　当サービスは、組織的な個人情報の管理については、社内規定による厳重な取扱方法を規定し、規定に基づいた取扱いと厳格な運用を徹底しています。
<br><br>

<h5>（3）個人情報管理の委託先の監督</h5>
　個人情報の管理を外部委託する場合には、当サービスの規程に基づく委託先にのみ委託し適切に管理します。
<br><br>

<h5>（4）個人情報の保存期間と廃棄</h5>
　取得した個人情報は、保存期間を設定し、保存期間終了後は廃棄します。
<br><br>

<h4>3．個人情報の第三者への提供</h4>
当サービスは、取得した個人情報を、第三者に提供することはありません。また、今後、第三者提供を行う場合は、提供する情報と目的を提示し、ユーザーの同意を得た場合のみ行います。
<br><br>

<h4>4．個人情報の共同利用</h4>
当サービスは、ユーザーの個人情報に関して、以下のとおり共同利用します。
<br><br>

<h4>５．個人情報の開示・訂正・利用停止</h4>
個人情報について、開示、訂正、利用停止等のお申し出があった場合には、本人の申し出であることを確認の上、当サービス所定の方法に基づき対応致します。具体的な方法は、個別にご案内しますので、下記受付窓口までお問い合わせください。
<br><br>

<h4>６．お問い合わせ先</h4>
本サービス、個人情報の取扱いについては、以下よりご連絡ください。
<br><br>

問い合わせフォーム
<br><br>
<h4>7．セキュリティ</h4>
当サービスは、ウェブサイト経由で、SSLによって個人情報を取得することがあります。
<br><br>

<h4>8．制定日、改定日</h4>

制定日 2023年 11月 4日
<br>
改定日 2023年 11月 4日
</div>

<style>

.container{
  margin-bottom: 50px;
}

</style>