<%= stylesheet_link_tag 'shared/none', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class='container-mid'>
    <p>あなたが登録したTodoのうち、今いる場所の近くで出来るTodoはありませんでした<br><br><br><br>みんなのTodoから近くでできるおすすめのTodoをピックアップしました<br><br>実行してみませんか？</p>
</div>