<%= link_to finish_todo_path(todo.id),
    id: "js-check-button-for-todo-#{todo.id}",
    method: :patch,
    remote: true do %>

  <div class='balloonoya'>
    <%= icon 'far', 'square fa-lg' %><span class='balloon'>チェックしたTodoは<br>1週間後に削除されます</span>
  </div>
<% end %>
