<%= link_to todo_path(id:todo.id, update_branch: "continue"),
    id: "js-check-button-for-todo-#{todo.id}",
    method: :patch,
    remote: true do %>
    
    <div class='balloonoya'>
        <%= icon 'fa', 'check-square fa-lg' %><span class='balloon'>チェックしたTodoは1日後に<br>このリストから非表示になります</span>
    </div>
<% end %>