<%= link_to continue_todo_path(todo.id),
    id: "js-check-button-for-todo-#{todo.id}",
    method: :patch,
    remote: true do %>
    
    <div class='balloonoya'>
        <%= icon 'fa', 'check-square fa-lg' %><span class='balloon'>チェックしたTodoは<br>1日後に削除されます</span>
    </div>
<% end %>