.card_container{
  margin-top: 30px;
  margin-bottom: 30px;
}

/* カード */
.card {
    border-radius: 10px;
    padding: 10px;
    margin-bottom :50px;
    margin-right :10px;
    width: 100%;
}

/* card top */
.card-top{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  background-color: #D4DEDD;
  padding: 10px 10px 10px 20px;
}

/* review */
.review{
  margin-right: 20px;
}

/* やりたいボタン */
.card-top-right{
  margin: 20px;
}

/* やりたいボタン 詳細レイアウト */
.addtodo_btn{
  padding: 5px 0px 5px 0px;
  width: 100px;
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 100vh;
}

.addtodo_btn:hover{
  opacity: 0.5;
}

.addtodo_btn a{
  text-decoration:none; 
}

i{
  color:white;
}

/* ルートアイコン */
.route{
  margin-left: 5px;
}

/* card dowb */
.card-down{
  padding-top: 10px;
  margin: 0 auto;
  width: 98%;
}

.card-down-left{
  display: flex;
}

.card-down-right{
  float: right;
}

.card-down-right a{
  font-size: small;
  color: #A9BABC;
}

/* レスポンシブ */
@media (max-width: 960px) {

  /* card top */
  .card-top{
    flex-flow: column;
  }
  
  /* やりたいボタン */
  .card-top-right{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

   /* やりたいボタン 詳細レイアウト */
   .addtodo_btn{
    padding: 10px 0px 10px 0px;
    width: 50vw;
    border-radius: 100vh;
  }
}