.card_container{
  margin-top: 30px;
  margin-bottom: 30px;
}
 
 /* Todo 場所ごとのカード */
.card {
  border-radius: 10px;
  width:100%;
  margin-bottom:50px;
}

/* 場所名全体 */
.card-title{
  border-radius: 10px;
  background-color :#D4DEDD;
  padding: 16px;
  line-height: 20px;
}

/* 場所までのルートボタン */
.route{
  display: block;
  text-align: right;
}

/* todoリスト全体 */
.list-group{
  list-style: none;
}

/* todoリスト１行分 */
.list-group-item{
  border: none; /*listアイテムのボーダーデザインの削除*/
  display: flex;
  justify-content: space-between;
}

/* チェックボックスとTodo */
.item-left{
  display: flex;
  justify-content: right;
}

/* todo中身 文 */
.item-content{
  word-break: break-all;
}

/* 編集・削除ボタン 全体 */
.item-right{
  width:50px;

  display:flex;
  justify-content: space-between;
}

/* 編集・削除ボタン 画像 */
i{
  margin-right:5px;
  color:#D4DEDD;
}

/* 編集・削除ボタン ホバー時 */
a:hover {
text-decoration: none;
}

/* チェックボタン チェック時ののふきだし */
.balloonoya {
  position: relative;                /* 指定した分だけ相対的に移動 */
  z-index: 10;
}
.balloonoya:hover .balloon {
  display: inline;                /* インライン要素として表示 */
}
.balloon {
  position: absolute;                /* 親要素を基準 */
  display: none;                        /* 要素を非表示 */
  padding: 6px;                         /* テキストの前後の余白 */
  background-color: #F2C67F;       /* 背景色（透明度） */
  width: 200px;                          /* 吹き出し全体の幅 */
  top: 100%;                           /* 表示位置 */
  margin-top: 12px;                    /* 表示位置 */
  font-size: 80%;                       /* 文字サイズ */
  color: black;
  text-align: center;
  border-radius: 10px;
}
.balloon:after{
  border-bottom: 12px solid #F2C67F; /* 吹き出し口の高さ・色 */
  border-left: 5px solid transparent;    /* 吹き出し口の幅１／２ */
  border-right: 10px solid transparent;   /* 吹き出し口の幅１／２ */
  top: -12px;                             /* 吹き出し口の位置調整 */
  left: 5px;                              /* 吹き出し口の横位置 */
  content: "";                       /* コンテンツの挿入 */
  position: absolute;                /* 親要素を基準 */
}


/* レスポンシブ */
@media (max-width: 960px) {

  /* 場所名*/
  .spot_name{
    min-width: 100px;
  }

/* todoリスト全体 */
.list-group-item{
  flex-flow: column;
}

/* チェックボックスとTodo */
.item-left{
  max-width:100%;
  width:100%;
  justify-content: left;
}

/* 編集・削除ボタン */
.item-right{
  max-width:100%;
  width:100%;
  margin-top:30px;
  justify-content: right;
}

.item-right i{
  margin-left:26px;
}

.fa-lg{
  font-size: 1.5em;
}


}