  /* Add Todoボタン */
  .btn{
    margin-bottom:10px;
    border-radius: 100vh;
    height: 40px;
    width: 100px;
    background-color: #F2C67F;
    border:none;
    color: white;
    font-size: 16px;
    text-align: center;
  }

  .btn:hover{
    background-color: #FCEACE;
    color: #F2C67F;
}

/* カード */
.card {
    border-radius: 10px;
    padding: 10px;
    margin-bottom :20px;
    margin-right :10px;
}

/* 場所名 */
  .card-title{
    border-radius: 10px;
    background-color :#D4DEDD;
    padding: 16px;
    line-height: 20px;
  }

/* todoの中身 */

  .list-group-item{
    border: none;
    display:flex;
    position: relative;
}

.item-content{
  width:70%;
  word-break: break-all;
}

/* 編集・削除ボタン */


i{
  margin-right:5px;
  color:#D4DEDD;
}

a:hover {
text-decoration: none;
}

.item-right{
  width:60px;
  right : 0;
  position: absolute;

}

.edit_btn{
  float:left;
}

.delete_btn{
  float:right;
}

/* チェックボタンのふきだし */

.balloonoya {
  position: relative;                /* 指定した分だけ相対的に移動 */
}
.balloonoya:hover .balloon {
  display: inline;                /* インライン要素として表示 */
}
.balloon {
  position: absolute;                /* 親要素を基準 */
  display: none;                        /* 要素を非表示 */
  padding: 6px;                         /* テキストの前後の余白 */
  background-color: #F2C67F;       /* 背景色（透明度） */
  width: 150px;                          /* 吹き出し全体の幅 */
  top: 100%;                           /* 表示位置 */
  margin-top: 12px;                    /* 表示位置 */
  font-size: 80%;                       /* 文字サイズ */
  color: black;
  text-align: center;
  border-radius: 10px;
}
.balloon:after{
  border-bottom: 12px solid #F2C67F; /* 吹き出し口の高さ・色 */
  border-left: 5px solid transparent;    /* 吹き出し口の幅１／２ */
  border-right: 10px solid transparent;   /* 吹き出し口の幅１／２ */
  top: -12px;                             /* 吹き出し口の位置調整 */
  left: 5px;                              /* 吹き出し口の横位置 */
  content: "";                       /* コンテンツの挿入 */
  position: absolute;                /* 親要素を基準 */
}

.route{
  display: block;
  margin-top: -20px;
  text-align: right;
}