  /* Add Todoボタン */
  .btn{
    margin-bottom:10px;
    border-radius: 100vh;
    height: 40px;
    width: 100px;
    background-color: #F2C67F;
    border:none;
    color: white;
    font-size: 16px;
    text-align: center;
  }

  .btn:hover{
    background-color: #FCEACE;
    color: #F2C67F;
}

/* カード */
.card {
    border-radius: 10px;
    padding: 10px;
    margin-bottom :20px;
    margin-right :10px;
}

/* 場所名 */
  .card-title{
    border-radius: 10px;
    background-color :#D4DEDD;
    padding: 16px;
  }

/* todoの中身 */

  .list-group-item{
    border: none;
    display:flex;
    position: relative;
}

.item-content{
  width:70%;
  word-break: break-all;
}

/* 編集・削除ボタン */

i{
  margin-right:5px;
  color:#D4DEDD;
}

a:hover {
text-decoration: none;
}

.item-right{
  width:60px;
  right : 0;
  position: absolute;

}