/* タイトル部分（共通）*/

.title{
    position: relative;
    height: 150px;
  }

  h1,.btn{
    position: absolute; 
    display: inline-block; 
    bottom: 50px;
  }

  .my_todo, .checked_todo{
    position: absolute;
    bottom: 40px;
    right: 20px;
    text-align: center;
    padding: 8px 20px 8px 20px;
    border-radius: 100vh;
    margin-left:50px;
  }

  .my_todo:hover, .checked_todo:hover{
    opacity: 0.5;
  }


.search_form{
  position: absolute; 
  right: 80px;
  bottom: 0;
}

.form {
  border: 1px #BEC7C6 solid;
  padding: 0.5em 0.5em;
  border-radius: 5px;
  color: #5C6060;
  height: 30px;
  margin: 0 auto;
}

.search_btn{
  position:absolute;
  margin-left: 5px;
  width: 50px;
  height:30px;
  padding: 0.2em;
  border:1px #BEC7C6 solid;
  border-radius: 5px;
}


/* ページネーション */
.pagenate{
  position: absolute;
  bottom: -20px;
  left: 150px;
  
}